

.open-sans-normal {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/*shared style*/
.btn-primary{
    background-color: #fff;
    font-weight: bold;
    border: 2px solid #006A50;
    border-radius: 5px;
    color: #006A50;
    padding: 10px 15px;

} 
.btn-primary2{
    background-color: #006A50;
    font-weight: bold;
    border: 2px solid #006A50;
    border-radius: 5px;
    color: white;
    padding: 10px 15px;

}


/*nav styles*/
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 160px;
}
.nav-title{
    font-weight: bold;
    font-size: 32px;
}
nav ul li{
    list-style: none;
}
nav li a{
    text-decoration: none;
    font-size: 20px;
    
}
nav ul{
    display: flex;
}
/*banner styles*/
.banner-greetings{
    font-size: 24px;
    color: #0E0E0E;
    font-weight: bold;
}
.dark-2{
    color: #474747;
}
.banner-title{
    font-weight: bold;
    font-size: 45px;
}
.banner-hero{
    width: 474px;
}
.banner{
    display: flex;
    justify-content: space-between;
   margin: 0 150px 0 150px;
   background-color: #C6E4D6;
   border-radius: 10px;
   width: 1280;
   padding: 50px;
}
.banner-content{
    max-width: 622px;
}
/*skill styles*/
.skills-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 160px;
    gap: 24px;
    
}
.text-center{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 160px
}
.skill{
    padding: 30px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06) ;
}
main section{
    margin-top: 130px;
    margin-bottom: 130px;
}
/*section vision*/
.text-center2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 160px
}
.text-center3{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 160px;
    font-weight: 200;

}
.skills-con{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 160px;
    gap: 24px;
}
.background-1{
   background-color: #cedbf4;
   justify-content: space-between;
   padding: 30px;
   border-radius: 10px;
}
.background-2{
 background-color: #C6E4D6;
 justify-content: space-between;
 padding: 30px;
 border-radius: 10px;
}
.background-3{
  background-color: #F7EBCF;
  justify-content: space-between;
  padding: 30px;
  border-radius: 10px;
}
.btn-primary3{
    background-color: #5490F5;
    font-weight: 200;
    border: 2px solid #5490F5;
    border-radius: 5px;
    color: white;
    padding: 10px 15px; 
}
.btn-primary4{
    background-color: #09A15C;
    font-weight: 200;
    border: 2px solid #09A15C;
    border-radius: 5px;
    color: white;
    padding: 10px 15px; 
}
.btn-primary5{
    background-color: #FFC239;
    font-weight: 200;
    border: 2px solid #FFC239;
    border-radius: 5px;
    color: white;
    padding: 10px 15px; 
}
.Yunus{
    background-image: url(../assets/quote-bg.png);
    background-repeat: no-repeat;
    background-position: 20px 10px;
    align-items: center;
    justify-content: space-between;
    margin: 50px 160px;
    font-weight: 200
}
.text-sub{
    font-weight: 200
}
.background-y{
    background-color: #FFFEFE;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06) ;

}
.style-1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 160px 
}
.style-2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 160px;
    font-weight: 200;
}
.aljazeera{
   justify-content: space-between;
   align-items: center;
   font-weight: 200;
   display: flex;
   background-color: #FFFEFE;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06) ;
    margin: 0 150px 0 150px;
}
.img-1{
    border-radius: 10%;
    padding: 20px;
}
.btn-color1{
    background-color: #006A50;
    font-weight: 200;
    border: 2px solid #006A50;
    border-radius: 5px;
    color: white;
    padding: 10px 15px;
}
.aljazeera2{
    justify-content: space-between;
   align-items: center;
   font-weight: 200;
   display: flex;
   background-color: #FFFEFE;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    margin: 0 150px 0 150px;
}
.img-2{
    border-radius: 10%;
    padding: 20px;
}
.btn-color1{
    background-color: #006A50;
    font-weight: 200;
    border: 2px solid #006A50;
    border-radius: 5px;
    color: white;
    padding: 10px 15px;
}
.donate1{
    text-align: center;
}
.donate2{
    text-align: center;
    margin: 5px 160px;
    font-weight: 200;
    justify-content: center;
}
.btn-control{
 justify-content: space-between;
 text-align: center;
 margin: 15px 20px;
}
.button1{
    justify-content: space-between;
    align-items: center;
    font-weight: 200;
    background-color: #FFFEFE;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    border: 2px solid white;
}
.button2{
    justify-content: space-between;
    align-items: center;
    font-weight: 200;
    background-color: #C6E4D6;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    border: 2px solid #C6E4D6;
}
.button3{
    justify-content: space-between;
    align-items: center;
    font-weight: 200;
    background-color: #FFFEFE;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    border: 2px solid white;
}
.button4{
    justify-content: space-between;
    align-items: center;
    font-weight: 200;
    background-color: #FFFEFE;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    border: 2px solid white;
}
.abc{
    text-align: center;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    background-color: #FFFEFE;
    border: solid white;
    margin: 0 200px 0 200px;
    font-weight: 200;
    
}
